@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
.contenedorimagen{
  background-image: url(/assets/897.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
h1 {
 font-family: 'DM Sans', sans-serif;
 font-size: 2rem;
 text-align: center;
 color: #111979;
 font-weight: bolder;
}

.form__group {
    margin-left: 10%;
    display: flex;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }

  .form__field {
    font-family: inherit;
    width: 150%;
    border: 0;
    border-bottom: 2px solid #c1f0f0;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 10px;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #5cd3fb;
    margin-top: 10px;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right,  #1c2da1, #5cd3fb);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #7bdafc;
    font-weight: 700;
  }

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#111979, #1c2da1 50%,#7bdafc);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 50%;

}

button{
  margin-top: 10px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 10px 5px 10px 0px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

tr {
  height: 150%;
}

table {
  display:inline-table;
  margin-top: 5%;
  width: 80%;
  border-spacing: 0 20px;
}

th {
  padding:0 15px 0 15px;
}

td {
  padding:0 15px 0 15px;
}

p {
  border-color: #111979;
  border-style: outset;
  border-radius: 20px;
  padding: 20px;
}

.form-group1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-left: 10%;
}
.cont-btn{
  width: 25%;
  margin-top: 10%;
}


.cursos-data-display{
  padding-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.form-row{
  margin-left: 30%;
  display: flex;
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 60%;
}
.form-group{
  margin-left: 40px;

}


