<div class="cursos-data-display">
  <h1>Creación de Ruta de Aprendizaje</h1>
  <form [formGroup]="miFormulario">
    <!--Nombre-->
    <div class="form-group1">
      <div class="cont-name-description">
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Nombre" name="nombre" id='nombre'
            formControlName="nombre" required />
          <label for="nombre" class="form__label">Nombre</label>
        </div>
        <!--Descripción-->
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Descripción" name="descripcion" id='descripcion'
            formControlName="descripcion" required />
          <label for="descripcion" class="form__label">Descripción</label>
        </div>
      </div>
      <div class="cont-btn">
        <!--Guardar-->
        <button class="button-64" role="button" type="submit"><span class="text">CREAR</span></button>
      </div>
    </div>

    <!-- Seleccione curso -->
    <div formArrayName="rutas" *ngFor="let ruta of getRutas.controls; let i = index" >
      <div [formGroupName]="i" class="form-row">
        <div class="form-group col-md-2">
          <select  class="form-control" formControlName="nivel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <select id="curso" class="form-control" formControlName="curso">
            <option selected>Curso</option>
            <option>Angular</option>
            <option>Arquitectura</option>
            <option>React</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <select id="inputState" class="form-control" formControlName="prerrequisitos">
            <option selected>Prerrequisitos</option>
            <option>Angular</option>
            <option>Arquitectura</option>
            <option>React</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <button type="submit" id="agregar" (click)="addRutas()" class="btn btn-primary">+</button>
          
        </div>
      </div>

    </div>




  </form>
</div>