<h1>CREACIÓN DE RUTA DE APRENDIZAJE</h1>
<div class="bd-example justify-content-center">
  <form>
    <div class="form-group">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail4"
          placeholder="Ingrese nombre"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Descripcion</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          placeholder="Ingrese descripción"
        />
      </div>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-2">
        <label for="nivel">Nivel</label>
        <input type="number" class="form-control" id="nivel" />
      </div>
      <div class="form-group col-md-2">
        <label for="curso">Curso</label>
        <select id="curso" class="form-control">
          <option selected>Seleccione un curso...</option>
          <option>...</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Prerrequisitos</label>
        <select id="inputState" class="form-control">
          <option selected>Seleccione prerrequisitos...</option>
          <option>...</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" id="agregar" class="btn btn-primary">+</button>
      </div>
    </div>
    <button type="submit" id="crear" class="btn btn-primary">CREAR</button>
  </form>
</div>
