@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.contenedorimagen {
    padding-top: 62px;
    background-image: url(/assets/897.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;

}

#element {
    margin: auto;
    display: block;
    width: 1500px;
}


.std-data-display {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #111979;
    width: 100vw;
    height: 100vh;
}

.std-data {
    display: flex;
    margin: auto;
    padding-left: 275px;
    color: black;
    width: 100%;
}

.std-data img {
    width: 130px;
    height: 130px;
}

.pinfo {
    display: block;
    text-align: left;
    padding-left: 10px;
}

#divChart {
    margin: auto;
    display: block;
    width: 1400px;
    height: 1400px;
}

#element {
    margin: auto;
    display: block;
    width: 1500px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    color: #111979;
    font-size: xx-large;
    font-weight: bolder;
}