<div class=" std-data-display">
  <div class="contenedorimagen">
    <button class="flecha zoomf" routerLink="/lista-training-activos" mat-raised-button><mat-icon>keyboard_backspace</mat-icon></button>
    <h1>Información del aprendiz</h1>

    <div class="std-data">
      <img src="{{ std.photo }}" alt="std-photo" />

      <div class="pinfo">
        <h2>{{ std.name }} {{ std.lastname }}</h2>
        <p>
          {{ std.email }} <br />
          +{{ std.phoneNumber }} <br />
          {{ std.city }}
        </p>
      </div>
    </div>

    <div id="element"></div>
  </div>
</div>
