@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*,html{
    margin: 0;
    padding: 0;
}

.contenedorimagen{
    background-image: url(/assets/897.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    padding-bottom:2rem;
  }

#element {
    margin: auto;
}


.std-data-display {
    font-family: 'DM Sans', sans-serif;
    color: #111979;
    width: 100%;
    min-height: 100%;
}

.std-data {
    display: flex;
    margin: auto;
    padding-left: 275px;
    color: black;
    width: 100%;
}

.std-data img {
    width: 130px;
    height: 130px;
}

.pinfo {
    display: block;
    text-align: left;
    padding-left: 10px;
}

#divChart {
    margin: auto;
    display: block;
    width: 1400px;
    height: 1400px;
}

#element {
    margin: auto;
    display: block;
    width: 1500px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #111979;
    font-size: xx-large;
    font-weight: bolder;
}
.flecha{
    margin-left: 13px !important;
    margin-top: 10px !important;
  }
  .zoomf{
    overflow: hidden;
    margin: 0 auto;
  }

  .zoomf {
    transition: 0.05s all ease-in-out;
  }

  .zoomf:hover{
    transform: scale(1.3);
  }
