@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');


.container-fluid{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0;
  }
  th,td,button{
    font-size:20px;
    font-family: 'DM Sans', sans-serif;
  }
  h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #111979;
    font-weight: bolder;
    margin-top: 2%;
  }
  table {
    display: inline-table;
    margin-top: 5%;
    width: 80%;
    border-spacing: 0 20px;
    overflow: hidden;
  }
  
  th {
    padding: 0 15px 0 15px;
  }
  
  td {
    padding: 0 15px 0 15px;
  }
  .inj{
    margin: auto;
    width: 1000px;
  }
  .flecha{
    margin-left: 13px !important;
    margin-top: 10px !important;
  }
  .zoomf{
    overflow: hidden;
    margin: 0 auto;
  }
  
  .zoomf {
    transition: 0.05s all ease-in-out;
  }
  
  .zoomf:hover{
    transform: scale(1.3);
  }

