.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  z-index: 1;
  position: absolute;
}

.img-round{
  border-radius: 50%;
  height: 45px;
  width: 45px;

}
.main-icono{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: #000000;
}
.menu-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title{
  margin-left: 10px;
  margin-right: 10px;
}
span{
  color: white;
}

.mat-toolbar{
  background-color: #000000
}