
<mat-toolbar color="black">

  <span>Sofka</span>
  <span class="example-spacer"></span>

  <button *ngIf="auth.isLoggedIn;" [matMenuTriggerFor]="menu" mat-icon-button class="main-icono favorite-icon"
    title="Menú" aria-label="Example icon-button with heart icon">
    <img class="img-round" src={{auth.user.photoURL}} referrerpolicy="no-referrer" alt="Avatar">
  </button>

  <mat-menu class="menu-icon" #menu="matMenu">
    <mat-card-title *ngIf="auth.isLoggedIn;">{{auth.user.displayName}}</mat-card-title>
    <!-- <mat-card-title *ngIf="auth.isLoggedIn;">{{auth.user.email}}</mat-card-title> -->
    <button mat-menu-item>
      <mat-icon routerLink="home">home</mat-icon>
    </button>
    <button *ngIf="auth.isLoggedIn;" mat-menu-item>
      <mat-icon (click)="auth.signOut()">logout</mat-icon>
    </button>

  </mat-menu>
</mat-toolbar>
