.example-spacer {
  flex: 0.85 auto;
}
mat-toolbar{
  z-index: 1;
  position: absolute;
}
.img-round{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.main-icono{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-color: #000000;
}
.menu-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title{
  margin-left: 10px;
  margin-right: 10px;
}
span{
  color: white;
}
.mat-toolbar{
  background-color: #080840f0
}
.zoom mat-icon{
  overflow: hidden;
  margin: 0 auto;
}

.zoom mat-icon{
  transition: 0.05s all ease-in-out;
}

.zoom:hover mat-icon{
  transform: scale(1.3);
}
