<div class="contenedorimagen">
  <button class="flecha zoomf" (click)="volver()" mat-raised-button><mat-icon>keyboard_backspace</mat-icon></button>
<div class="contenedor">
  <div class="std-data">
      <img src="{{dataAprendiz.photo}}" alt="std-photo" />
    <div class="pinfo">
      <h2>{{ dataAprendiz.name }} {{ dataAprendiz.lastName }}</h2>
      <p>
        EMAIL: {{ dataAprendiz.email }} <br />
        CEL: {{ dataAprendiz.phoneNumber }} <br />
        {{ dataAprendiz.city }}
      </p>
    </div>
  </div>
  <div class="std-calificacion">
    <h3>Tarea del Curso: {{dataSource.nombreCurso}}</h3>
    <div class="cuadro">
      <p *ngIf="dataSource.contenido"> {{dataSource.contenido}}</p>
      <p *ngIf="dataSource.contenido == null"> No ingresó contenido</p>
    </div>
    <form [formGroup]="puntajeForm" (ngSubmit)="calificar()">
      <!-- <label>Puntaje</label> -->
      <input placeholder="PUNTAJE 0/100" class="puntaje" type="number" min="0" formControlName="puntaje">
      <button class="btn-calificar zoom" mat-raised-button color="primary" type="submit"> Calificar</button>
    </form>
  </div>
</div>
</div>
