<div class=" std-data-display">
  <div class="std-data">
    <img src="{{std.photo}} " alt="std-photo" />

    <div class="pinfo">
      <h2>{{ std.name }} {{ std.lastName }}</h2>
      <p>
        {{ std.email }} <br />
        {{ std.phoneNumber }} <br />
        {{ std.city }}
      </p>
    </div>
  </div>
  <div class="std-calificacion">
    <h2>Resultado del Curso: {{std.nombreCurso}}</h2>
    <div class="cuadro">
      <p *ngIf="std.tareas"> {{std.tareas}}</p>
      <p *ngIf="std.tareas == null"> No ingresó contenido</p>
    </div>

    <label>Puntaje</label>
    <input class="puntaje" type="number">
  </div>

</div>
