@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

.container1 {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  border-right: rgb(148, 138, 138) solid 2px;
  padding: 0;
  width: 360px;
}

.container2 {
  margin-left: 50px;
  font-size: 15px;
}

.container3 {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.container4 {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.container5 {
  margin-left: 60px;
  font-size: 10px;
}
.mat-toolbar {
  background-color: #ddddddf0;
  height: 370px;
}

img {
  font: aliceblue;
  margin: 1px;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
