@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.prueba{
  padding-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  margin-top: 10%;
  width: 1000px;
}

h1{
  font-family: 'DM Sans', sans-serif;
  color: #111979;
  font-size: xx-large;
  font-weight: bolder;
}
