@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.contenedorimagen{
  background-image: url(/assets/897.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.button-64 {
  float:right;
  background-image: linear-gradient(144deg,#111979, #1c2da1 50%,#7bdafc);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;

}

button{
  margin-top: 10px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 10px 5px 10px 0px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.prueba{
  padding-top: 62px;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  display: inline-table;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  padding: 0 15px 0 15px;
}

td {
  padding: 0 15px 0 15px;
}

h1{
  font-family: 'DM Sans', sans-serif;
  color: #111979;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
}
.inj{
  margin: auto;
  width: 1000px;
}
.zoom {
  overflow: hidden;
  margin: 0 auto;
}

.zoom {
  transition: 0.05s all ease-in-out;
}

.zoom:hover {
  transform: scale(1.5);
}
.flecha{
  margin-left: 13px !important;
  margin-top: 10px !important;
}
.zoomf{
  overflow: hidden;
  margin: 0 auto;
}

.zoomf {
  transition: 0.05s all ease-in-out;
}

.zoomf:hover{
  transform: scale(1.3);
}