@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.contenedorimagen{
  background-image: url(/assets/897.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.prueba{
  padding-top: 62px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  display: inline-table;
  margin-top: 5%;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  padding: 0 15px 0 15px;
}

td {
  padding: 0 15px 0 15px;
}

h1{
  font-family: 'DM Sans', sans-serif;
  color: #111979;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  margin-top: 10%;
}
.inj{
  margin: auto;
  width: 1000px;
}
.zoom {
  overflow: hidden;
  margin: 0 auto;
}

.zoom {
  transition: 0.05s all ease-in-out;
}

.zoom:hover {
  transform: scale(1.5);
}