<div class="std-data-display">
  <h1>Información del aprendiz</h1>

  <div class="std-data">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" alt="std-photo" />

    <div class="pinfo">
      <h2>{{ std.name }} {{ std.lastname }}</h2>
      <p>{{std.email}} <br> +{{std.phoneNumber}} <br> {{std.city}}</p>
    </div>
  </div>

  <ejs-heatmap [cellSettings]="cellSettings" [paletteSettings]="palleteSettings"  [titleSettings]='titleSettings' [dataSource]="dataSource" [xAxis]='xAxis' [yAxis]='yAxis'></ejs-heatmap>

</div>
