@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

ejs-heatmap{
    margin: auto;
    display: block;
    width: 1500px;
}

.std-data-display{
    margin: auto;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #111979
}

.std-data{
    display: flex;
    margin: auto;
    padding-left: 240px;
    color: black;
}
.std-data img{
    width: 130px;
    height: 130px;
}

.pinfo{
    display: block;
    text-align: left;
    padding-left: 10px;
}

#divChart{
    margin: auto;
    display: block;
    width: 1400px;
    height: 1400px;
}