<body>
    <ul>

      <li class="zoom"><a [routerLink]="['/cursos']">Crear Cursos</a></li>
      <!-- <li><a [routerLink]="['/list-aprendices']">Lista Aprendices</a></li> -->
      <li class="zoom"><a [routerLink]="['/ruta-aprendizaje']">Crear Ruta de Aprendizaje</a></li>
      <!-- <li><a [routerLink]="['/list-ruta-aprendizaje']">Listar Rutas de Aprendizaje</a></li> -->
      <li class="zoom"><a [routerLink]="['/creacion-training']">Crear Training</a></li>
      <li class="zoom"><a [routerLink]="['/resultado-cursos']">Calificar aprendices</a></li>
      <!-- <li><a [routerLink]="['/lista-training-activos']">Lista Training Activos</a></li> -->
      <!-- <li><a [routerLink]="['/std-info']">Informacion del Estudiante</a></li> -->
    </ul>
  </body>
