<body>
    <ul>

      <li><a [routerLink]="['/cursos']">Cursos</a></li>
      <li><a [routerLink]="['/list-aprendices']">Lista Aprendices</a></li>
      <li><a [routerLink]="['/ruta-aprendizaje']">Crear Ruta de Aprendizaje</a></li>
      <li><a [routerLink]="['/list-ruta-aprendizaje']">Listar Rutas de Aprendizaje</a></li>
      <li><a [routerLink]="['/creacion-training']">Creacion Training</a></li>
      <li><a [routerLink]="['/std-info']">Informacion del Estudiante</a></li>
    </ul>
  </body>
