<header>
  <div class="iframe">
    <div class="iframe-cont">

      <iframe allowfullscreen
        src="https://www.youtube.com/embed/sAMMpZDKygE?playlist=sAMMpZDKygE&autoplay=1&mute=1&loop=1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="2379"
        height="1400" frameborder="0">
      </iframe>
    </div>
  </div>
</header>

<div class="contenedor">
  <div class="cont">
    <div class="cont-bienvenida">
      <h1>Sistema de Gestión de Cursos</h1>
      <p>we make <span>IT</span> more simple</p>
    </div>
    <button type="button" class="btn-google" (click)="auth.googleAuth()">
      <img src="../../../assets/Google__G__Logo.png" style="height:30px;width:30px;"> Login with Google
    </button>
  </div>
</div>