.contenedor {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cont {
    position: absolute;
    bottom: 0;
    top: 0;
    margin-top: 15%;
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}

h1 {
    color: azure;
    font-size: 100px;
    font-weight: 600;
    text-shadow: 0px 0px 7px black;
}

p {
    color: azure;
    font-size: 70px;
    text-align: center;
    text-shadow: 0px 0px 7px black;
    font-weight: 600;
}

.cont-bienvenida span {
    color: #ff7e06;

}

.cont-bienvenida {
    margin: 15px;
}

.btn-gg {
    font-size: 25px;
    padding-top: 20px;
}

.iframe {
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;

}

.iframe-cont,
.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    min-width: 100%;
    min-height: 100%;

}