<header>
  <div class="iframe">
    <div class="iframe-cont">

      <iframe allowfullscreen src="https://www.youtube.com/embed/sAMMpZDKygE?autoplay=1&mute=1&loop=1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="2400"
        height="1389" frameborder="0">
      </iframe>
    </div>
  </div>
</header>

<div class="contenedor">
  <div class="cont">

    <div class="cont-bienvenida">
      <h1>Sistema de Gestión de Cursos</h1>
      <p>we make <span>IT</span> more rancio</p>
    </div>
    <div class="cont-bienvenida">
      <cool-google-button color="dark" (click)="auth.googleAuth()">
        <span class="btn-gg">Login with Google</span>
      </cool-google-button>
    </div>

  </div>
</div>