<div class="contenedorimagen">
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Lista de Trainings Activos</h1>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [style.width.%]="100">
            <ng-container matColumnDef="nombre">
              <th mat-header-cell matHeaderCellDef> Nombre </th>
              <td mat-cellmatCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell matHeaderCellDef> Descripción</th>
              <td mat-cellmatCellDef="let element"> {{element.description}} </td>
            </ng-container>
  
            <ng-container matColumnDef="inicio">
              <th mat-header-cell matHeaderCellDef>Fecha Inicio</th>
              <td mat-cellmatCellDef="let element"> {{element.startDate}} </td>
            </ng-container>
  
            <ng-container matColumnDef="fin">
              <th mat-header-cell matHeaderCellDef>Fecha Fin</th>
              <td mat-cellmatCellDef="let element"> {{element.endDate}} </td>
            </ng-container>
  
            <ng-container matColumnDef="ver">
              <th mat-header-cell matHeaderCellDef> ver </th>
              <td mat-cellmatCellDef="let element">
  
                <button (click)="verTraining(element.trainingId)" mat-icon-button color="primary">
                  <mat-icon>visibility</mat-icon>
                </button>
  
              </td>
            </ng-container>
  
  
            <tr mat-header-row matHeaderRowDef="displayedColumns"></tr>
            <tr mat-rowmatRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </main>
    </div>
  </div>
</div>
