<div class="contenedorimagen">
  <button class="flecha zoomf" routerLink="/listas" mat-raised-button>
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <div class="container-fluid">
    <div class="row">
      <main role="main" class="">
        <div class="inner-adjusts">

          <div class="">
            <h1 class="h2">Lista de Trainings Activos</h1>
          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [style.width.%]="100">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>
            <ng-container matColumnDef="period">
              <th mat-header-cell *matHeaderCellDef> Period</th>
              <td mat-cell *matCellDef="let element"> {{element.period}} </td>
            </ng-container>

            <ng-container matColumnDef="apprentices">
              <th mat-header-cell *matHeaderCellDef>Aprendices</th>
              <td mat-cell *matCellDef="let element"> {{element.apprenticesCount}} </td>
            </ng-container>

            <ng-container matColumnDef="ver">
              <th mat-header-cell *matHeaderCellDef> Ver </th>
              <td mat-cell *matCellDef="let element">

                <button (click)="verTraining(element.trainingId)" class="zoom" mat-icon-button color="primary">
                  <mat-icon>visibility</mat-icon>
                </button>

              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </main>
    </div>
  </div>
</div>