
.contenedorimagen{
  padding-top: 62px;
  background-image: url(/assets/897.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100%;
  padding-bottom:2rem;
}

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

