@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

/* Data */
.cursos-data-display{
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #111979
}

h1 {
  position: relative;
  top: 150px;
  margin-bottom: 150px;
  font-size: 40px;
}

/* Form */
.form__group {
    margin-left: 30%;
    display: flex;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 30vw;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #c1f0f0;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 10px;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #5cd3fb;
    margin-top: 10px;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right,  #1c2da1, #5cd3fb);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #7bdafc;
    font-weight: 700;
  }
  

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Table */

table {
  display:inline-table;
  margin-top: 5%;
  width: 80%;
  border-spacing: 0 20px; 
}

.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
th,td,button{
  font-size:20px;
  font-family: serif;
  font-family: 'DM Sans', sans-serif;
}
.inner-adjust{
  margin-top: 30px;
  width: 1500px;
}

.example-form-field{
  width: 90%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.buttonth {
  margin-left:120px ;
}
