<div class="cursos-data-display">
  <h1>Creación de Curso</h1>
<!--Nombre-->
  <div class="form__group field">
    <input type="input" class="form__field" placeholder="Nombre" name="nombre" id='nombre' required />
    <label for="nombre" class="form__label">Nombre</label>
  </div>
<!--Descripción-->
  <div class="form__group field">
  <input type="input" class="form__field" placeholder="Descripción" name="descripcion" id='descripcion' required />
  <label for="descripcion" class="form__label">Descripción</label>
  </div>
<!--Valor Aprobación-->
  <div class="form__group field">
  <input type="input" class="form__field" placeholder="Valor Aprobación" name="valorAprobacion" id='valorAprobacion' required />
  <label for="valorAprobacion" class="form__label">Valor Aprobación</label>
  </div>
<!--Guardar-->
  <button class="button-64" role="button"><span class="text">Guardar</span></button>
</div>
