@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

/* .contenedorimagen{
  padding-top: 62px;
  background-image: url(/assets/897.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100%;
  padding-bottom:2rem;
} */
/* .contenedorimagen {
  background-image: url(/assets/897.jpg);
  background-size: cover;
} */
.cursos-data-display {
  text-align: center;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #111979;
  font-weight: bolder;
  margin-bottom: 5%;
 }

/* Form */

.example-form-field{
    margin-left: 2vw;
}

.form__group {
    margin-left: 30%;
    display: flex;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 30vw;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #c1f0f0;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-top: 10px;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #5cd3fb;
    margin-top: 10px;
  }

  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right,  #1c2da1, #5cd3fb);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #7bdafc;
    font-weight: 700;
  }

  .labelInput {
    font-size:large;
  }

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #c1f0f0;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 10px;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #5cd3fb;
  margin-top: 10px;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #1c2da1, #5cd3fb);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #7bdafc;
  font-weight: 700;
}


/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Table */

table, mat-paginator {
  display: inline-table;
  width: 80%;
  border-spacing: 0 20px;
}

th {
  padding: 0 15px 0 15px;
  text-align: center !important;
}

td {
  padding: 0 15px 0 15px;
  text-align: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.acciones {
  width: 10%;
}

.accion {
  margin-left: 0;
  margin-top: 0;
  border: 0;
}

.thSave {
  padding-left: 1.7vw;
}

.zoom {
  overflow: hidden;
  margin: 0 auto;
}

.zoom {
  transition: 0.05s all ease-in-out;
}

.zoom:hover {
  transform: scale(1.7);
}

.flecha{
  margin-left: 13px !important;
  margin-top: 10px !important;
}
.zoomf{
  overflow: hidden;
  margin: 0 auto;
}

.zoomf {
  transition: 0.05s all ease-in-out;
}

.zoomf:hover{
  transform: scale(1.3);
}

.paginator {
  width: 89.2%;
}

.buttonth {
  padding-right: 55px;
}

p {
  width: 90%;
}


