h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #111979;
  font-weight: bolder;
 }
.flechas{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
 .example-spacer {
  flex: 1;
}

.file-input {
  display: none;
}

.zoom {
  overflow: hidden;
  margin: 0 auto;
}

.zoom {
  transition: 0.05s all ease-in-out;
}

.zoom:hover {
  transform: scale(1.2);
}
.input,mat-form-field,label{
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
}
label{
  margin-left: 30px;
  color: rgb(0, 229, 255);
}


form{
    margin-left: 300px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #5cd3fb;
  margin-top: 10px;
}
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#111979, #1c2da1 50%,#7bdafc);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    /* display: flex; */
    font-family: Phantomsans, sans-serif;
    font-size: 25px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 5px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-left:235%;
  }
   .form__group {
       margin-left:2%;
       display: flex;
       position: relative;
       padding: 15px 0 0;
       margin-top: 10px;
       width: 20%;
     }
     
     .form__field {
       font-family: inherit;
       border: 0;
       border-bottom: 2px solid #c1f0f0;
       outline: 0;
       font-size: 1.3rem;
       color: rgb(0, 0, 0);
       padding: 7px 0;
       background: transparent;
       transition: border-color 0.2s;
       margin-top: 5px;
     }
     .form__field::placeholder {
       color: transparent;
     }
     .form__field:placeholder-shown ~ .form__label {
       font-size: 1.3rem;
       cursor: text;
       top: 20px;
     }
     
     .form__label {
       position: absolute;
       top: 0;
       display: block;
       transition: 0.2s;
       font-size: 1rem;
       color: #5cd3fb;
       margin-top: 10px;
     }
     
     .form__field:focus {
       padding-bottom: 6px;
       font-weight: 200;
       border-width: 3px;
       border-image: linear-gradient(to right,  #1c2da1, #5cd3fb);
       border-image-slice: 1;
     }
     .form__field:focus ~ .form__label {
       position: absolute;
       top: 0;
       display: block;
       transition: 0.2s;
       font-size: 1rem;
       color: #7bdafc;
       font-weight: 200;
     }
     
     /* reset input */
     .form__field:required, .form__field:invalid {
       box-shadow: none;
     }

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 3px;
  border-image: linear-gradient(to right,  #1c2da1, #5cd3fb);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #7bdafc;
  font-weight: 200;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

input[type="date"]{
      cursor:pointer;
      color: #7bdafc;
      font-size: 16px;
    }

.form-control{
      text-decoration: none;
    }

.flecha{
    margin-left: 13px !important;
    margin-top: 10px !important;
  }
.zoomf{
    overflow: hidden;
    margin: 0 auto;
  }
  
.zoomf {
    transition: 0.05s all ease-in-out;
  }
  
.zoomf:hover{
    transform: scale(1.3);
  }

  .cargarbutton{
    display: flex;
    flex-direction: column;
    width: 200px;
  }