<div class="contenedorimagen">
  <button style="margin-left: 13px;" routerLink="/home" mat-raised-button><mat-icon>keyboard_backspace</mat-icon></button>
  <form [formGroup]="miFormulario" (ngSubmit)="enviarFormulario()">
    <div class="inputs">
        <div class="form__group field">
          <input type="input" class="form__field" placeholder="Nombre" name="nombre" id='nombre' formControlName="nombre"/>
          <label for="nombre" class="form__label">Nombre</label>
        </div>
        <div class="form__group field">
          <input type="date" class="form__field" placeholder="Fecha Inicio" name="fechaInicio" id='fechaInicio' formControlName="fechainicio"/>
          <label for="fechaInicio" class="form__label">Fecha Inicio</label>
        </div>
        <div class="form__group field">
          <input type="date" class="form__field" placeholder="Fecha Final" name="fechaFinal" id='fechaFinal' formControlName="fechafinal"/>
          <label for="fechaFinal" class="form__label">Fecha Final</label>
        </div>
    </div>
    <div class="inputs2">
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Descripcion" name="descripcion" id='descripcion' formControlName="descripcion"/>
        <label for="descripcion" class="form__label">Descripcion</label>
      </div>
      <div class="form-group col-md-2">
        Coach
          <select id="" class="form-control" formControlName="coach">
            <option value="Raul">Raul</option>
            <option value="Eddie">Eddie</option>
            <option value="Adryan">Adryan</option>
            <option value="Santiago">Santiago</option>
          </select>
      </div>
    </div>
    <div class="selectbuton">
      <div class="form-group col-md-2">
        Ruta
        <select class="form-control" formControlName="ruta">
          <option *ngFor="let ruta of rutasAprendizaje" value="{{ruta.id}}">
            {{ruta.nombre}}
          </option>
        </select>
      <input class="file-input" mat-flat-button color="primary"
        type="file" accept=".csv" #csvFile (change)='onFileSelected($event)'/>
        <!-- {{csvBase64}} -->
      <div class="cargarbutton">
        {{csvFileName || "No file uploaded yet."}}
        <button mat-flat-button color="primary" type="button" (click)="csvFile.click()">
          Carga Aprendices
          <mat-icon>attach_file</mat-icon>
        </button>
    </div>
  
      </div>
      <button  class="button-64" role="button"
        type="submit"><span class="text">Crear</span>
      </button>
    </div>
  </form>
</div>

<!-- [disabled]="!miFormulario.valid" -->
