.conteiner{
    padding-top: 160px
}


.inputs{
    padding-left: 200px;
    padding-top: 200px
}

mat-form-field{

    margin:10px
}

.selects{
    padding-top:80px;
    padding-left:200px
}

button{
    margin-top:50px;
    margin-left:340px
}

.crearbutton{
    /* margin-top:50px; */
    margin-left:450px
}