
<div class="conteiner">
  <div class="inputs">
    <mat-form-field appearance="legacy">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Fecha de Inicio</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Fecha Final</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Descripcion</mat-label>
      <input matInput placeholder="Descripcion">
    </mat-form-field>
  </div>
  <div class="selects">
    <mat-form-field appearance="fill">
        <mat-label>Responsable (Coach)</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
  </div>

</div>


<div class="cargarbutton"><button mat-flat-button color="primary">Carga Aprendices</button>
</div>

<div class="crearbutton">
  <button class="crearbutton" mat-flat-button color="primary">CREAR</button>
</div>